<h1>ユーザー詳細</h1>

<% if @isRoom != true %>
     <p><%= link_to 'チャットへ', room_path(@roomId) %></p>  
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<%= link_to "ユーザー一覧に戻る", root_path %>

