
<%= render "shared/header" %>

<div class='title-contents'>

<%= link_to image_tag "top-image.png" , class: "meigen" %>

<h1 class='message'>Kitto勝男は学生と社会人のお話の場を作り、成長へのきっかけを生むサービスです。</h1>

<div class="good-points">
  <div class="good-point-left">
  学校では出会えない<br><br>希望の進路に近い方と出会える！<br>
   <ul class="good-point-left1">今の自分が気になっているお仕事や<br>お話を聞いた事がないお仕事をしている方々の<br>チケットを確認してみよう！
   </li>
  </div>

  <div class="good-point-right">たくさんの良心的な<br><br>社会人の方とお話ができる！
   <ul class="good-point-right1">高校生1,000円/1h、大学生1,500円/1hで<br>どのチケットも購入可能です！<br>勇気を出して気になった方とお話をしてみよう！
   </li>
  </div>
</div>

  <div class="item-contents">
    <ul class="item-subtitle">新規投稿商品</ul>
  </div>
   
   <ul class="item-lists"> 

     <% @tickets.each do |ticket| %> 
       <%= link_to ticket_path(ticket.id), mathod: :get do %>
        <section class="card">
        
            <%= image_tag ticket.image , class: "card-img"%>
         <div class="card-content">
          <h1 class="card-title">  <%= ticket.name %>  </h1>
          <p class="card-text"><%= ticket.introduction  %> </p>
         </div>
         <div class="card-link">
         <%= link_to "About", ticket_path(ticket.id) %>
         </div>
        </section>
        <% end %> 
       <% end %> 
     </ul> 
        
  <%= render "shared/footer" %>

