
<%# 商品の概要 %>
<div class="item-show">
<%= render "shared/second-header" %>
  <div class="item-box">
    <h1 class="box18">
      <p><%= @ticket.name %></p>
    </h1>
    <div class='item-img-content'>
      <%= image_tag @ticket.image ,class:"item-box-img" %>
     
    </div>
    <%# ログインしていて、なおかつ、ログインしているユーザと出品しているユーザが同一人物でないとき表示しましょう。 %>
   

    <div class="item-explain-box">
      <p><%= @ticket.introduction %></p>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @ticket.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @ticket.category.name %></td>
        </tr>
      </tbody>
    </table>
  
   <% if user_signed_in? && @ticket.user_id == current_user.id  %>
     <%= link_to 'チャットを開始', ticket_rooms_path(@ticket), method: :post, class:"item-red-btn2"%>or</p>
      <%= link_to '商品の編集',  edit_ticket_path  , method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', ticket_path(@ticket.id) , method: :delete, class:'item-destroy' %>
     
    <% else %>
    <%= link_to 'チャットを開始', ticket_rooms_path(@ticket), method: :post, class:"item-red-btn2"%>
    <%= link_to '購入画面に進む', ticket_orders_path(@ticket.id) ,method: :get, class:"item-red-btn"%>
   <% end %>

<%# 
  <div class="comment-box">
     <%= form_with model: @comment ,url: ticket_comments_path(@ticket),local: true do |f| %>
       <%# <%= f.text_field :text ,{class: "comment-text"} %>
        <%# <p class="comment-warn">相手のことを考え丁寧なコメントを心がけましょう。</p>
        <button type="submit" class="comment-btn">
            <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
            <%# <span>  %>
              <%# コメントする
              <% f.submit  %> 
            <%# <span> %>
        <%# </button> %>
     <%# <%end%>
  <%# </div> %>
   
   <%# <div id='messages'>
      <% @comments.reverse_each do |comment| %>
     <%# <div class="message-card">
        <div class="upper-message">
          <div class="message-user">
           <p><%= comment.user.nickname</p>
          <%# </div> %>
         <%# <div class="message-date">
           <%= l comment.created_at %>
         <%# </div>
       </div> %>
       <%# <div class="lower-message">
         <div class="message-content">
          <p><%= comment.text</p>   
         <%# </div> %>
       <%# </div>
     </div>
     <% end %> 
    <%# </div> %> 
</div>
  <%= render "shared/footer" %>